<section id="modal">
    <div id="card">

        <div id="head">
            <h1>Confirmação</h1>
            <a id="close" href="/"><i class="bi bi-x"></i></a>
        </div>
        
        <hr>
        <p>Deseja realmente apagar a atividade: <%= task.task %> ?</p>
        
        <div id="btns">
            <a id="btnNot" href="/">Não</a>
            <a id="btnYes" href="/delete/<%= task._id %>">Sim</a>
        </div>
    </div>
</section>