@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  box-sizing: border-box;
}

header {
  background-color: #fdfdfd;
  padding: 1rem;
  text-align: center;
  box-shadow: 3px 3px 1px 0px #00000060;
  border-radius: 0 0 15px 15px;
}

body {
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

button {
  background-color: transparent;
  color: #650e1f;
  border: 2px solid #650e1f;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #650e1f;
  color: #ffffff;
}

button:hover > i {
  color: #ffffff;
}

button i {
  color: #650e1f;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 3px 3px 1px 0px #00000060;
}

.todo-container h2 {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#todo-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

#todoText {
  word-break: break-all;
  font-weight: bold;
  font-size: 1.2rem;
}

.todo p {
  flex: 1;
  font-style: normal;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

p.check-true {
  text-decoration: line-through;
  font-style: italic;
}

section#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(204, 204, 204, 0.452);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

div#card {
  width: 30rem;
  position: relative;
  background-color: #fdfdfd;
  border-radius: 15px;
  box-shadow: 3px 3px 1px 0px #00000060;
}

div#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

div#head h1 {
  margin: 0;
}

div#head a#close {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

div#head a#close i {
  color: #333;
}

div#head a#close:hover,
div#head a#close i:hover {
  color: #fff;
  background-color: #650e1f;
  border-radius: 5rem;
  padding: 0 0.2rem;
}

div#card hr {
  width: 90%;
  margin: 0 auto;
}

div#card p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

div#btns {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  align-items: center;
}

div#btns a {
  text-decoration: none;
  padding: 0.5rem;
  width: 7rem;
  text-align: center;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 15px;
}

div#btns a#btnNot {
  color: #650e1f;
  border: solid 1px #650e1f;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnNot:hover {
  background-color: #650e1f;
  color: #fff;
}

div#btns a#btnYes {
  color: #650e1f;
  border: solid 1px #650e1f;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnYes:hover {
  background-color: #035e17;
  color: #fff;
}

.message {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-danger {
  background-color: rgb(255, 197, 197);
  color: #650e1f;
}

.message-success {
  background-color: rgb(197, 255, 214);
  color: #035e17;
}

span#close-message {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 2rem;
}

span#close-message:hover {
  color: rgb(255, 0, 0);
}

footer#footer{
  color: #333;
  font-size: 10px;
}